%dt Class:
%dd
  .class= format_module(@result.class)
- if @show_result != false
  %dt Result:
  %dd
    .result
      ~ format_object(@result)
%dt Extended By:
%dd
  .extended_by
    - extensions = (@result_extended || [ ])
    - if extensions.empty?
      %span.none NONE
    - else
      %table
        - extensions.each do | mod |
          %tr
            %td= format_module(mod)
