.rack_console
  .eval
    - evaluate_expr!
    %form{action: url_root("/"), method: "post"}
      %div
        %textarea.expr{name: 'expr'}=h @expr
      %div
        %input{ type: 'submit', value: 'Evaluate' }
    .result
      - if @result_evaled && @result_ok
        %dl
          %dt Class:
          %dd
            .class= format_module(@result.class)
          %dt Result:
          %dd
            .result
              ~ format_object(@result)
          %dt Extended By:
          %dd
            .extended_by
              - extensions = (@result_extended || [ ])
              - if extensions.empty?
                %span.none NONE
              - else
                %table
                  - extensions.each do | mod |
                    %tr
                      %td= format_module(mod)
          - format_io = Proc.new do | val |
            - out = (val && val.string.force_encoding('UTF-8'))
            - unless out.blank?
              %pre.result= wrap_lines(out)
            - else
              %span.none NONE
          %dt $stdout:
          %dd
            .io.stdout
              - format_io[@stdout]
          %dt $stderr:
          %dd
            .io.stderr
              - format_io[@stderr]

  =haml :'console/error', locals: locals

