!!!
%html
  %head
    %title rack_console
    %link{rel: "stylesheet", href: url_root("/css/rack_console.css")}
    %link{rel: "stylesheet", href: url_root("/css/ansi.css")}
  %body
    .rack_console
      .wrapper
        .header
          %h1 rack_console

        .content
          =yield

        .footer
          %hr
