!!!
%html
  %head
    %title rack_console
    %link{rel: "stylesheet", href: url_root("/css/rack_console.css")}
    %link{rel: "stylesheet", href: url_root("/css/ansi.css")}
  %body
    .rack_console
      .wrapper
        .header
          %h1
            %a{href:"/console"}rack_console
          %p Test layout
        .content
          =yield

        .footer
          %hr
