.rack_console
  =haml :'console/server_info', locals: locals
  .result
    =haml :'console/methods_table', locals: locals.merge(methods: @methods)
  =haml :'console/error', locals: locals
            
